// ===========HEADER===========

.header {
  &__logo-box {
    display: flex;
    gap: 2rem;
    align-items: center;

    margin-left: 2rem;

    &-icon {
      position: relative;

      &::before {
        content: "";
        background-color: #fff;
        height: 100%;
        width: 100%;
        display: block;
        padding: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);

        z-index: 1;
      }
    }
  }

  &__logo-text {
    font-family: "Inspiration", cursive;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 4px;

    @media screen and (max-width: 37.5em) {
      font-size: 2.75rem;
    }
  }

  &__logo {
    width: 3rem;
    height: 3rem;
    fill: var(--color-primary);
    position: relative;
    z-index: 9;
  }
}

.search {
  flex: 0 0 40%;
  color: var(--color-grey-dark-2);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 37.5em) {
    order: 1;
    flex: 1 1 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: 1.4rem;
    background: none;
    border: none;
    color: currentColor;
    width: 90%;
    padding: 1.5rem 3rem;
    background-color: var(--color-grey-light-2);
    margin-right: -3.5rem;
    border-radius: 50px;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      box-shadow: var(--shadow-light);
      background-color: var(--color-grey-light-1);

      @media screen and (max-width: 37.5em) {
        background-color: var(--color-grey-light-2);
      }
    }

    &::placeholder {
      font-size: 1.6rem;
      font-family: inherit;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-2);
  }
}

.header__recipe-box {
  align-self: stretch;
  display: flex;
  align-items: center;

  @media screen and (max-width: 37.5em) {
    margin-right: 2rem;
  }
}
.header__recipe-icon {
  width: 3rem;
  height: 3rem;
  fill: #fff;
}
.header__link:visited,
.header__link:link {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  position: relative;

  @media screen and (max-width: 37.5em) {
    padding: 2rem 2.5rem;
  }

  & span {
    position: absolute;
    top: 20%;
    right: 0;
    font-size: 1rem;
    background-color: var(--color-grey-light-2);
    padding: 3px;
    font-weight: 500;
    border-radius: 50px;
    color: var(--color-primary);
    text-transform: uppercase;

    z-index: 99;

    @media screen and (max-width: 25em) {
      display: none;
    }
  }
}

.header__link:hover,
.header__link:active {
  background-color: var(--color-primary-light);
}

// =========Recipe======
.recipes__list-container {
  background-color: var(--color-grey-light-1);
  border-radius: 5px;
  padding: 3rem 0;
}

.recipe__list {
  list-style: none;
}
.preview {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: var(--color-grey-dark-1);

  &__link:visited,
  &__link:link {
    display: flex;
    padding: 2rem 2rem;
    transition: var(--transition);
  }

  &__link:hover,
  &__link:active {
    transform: translateY(-2px);
    background-color: var(--color-grey-light-3);
  }

  &__figure {
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
      position: absolute;
      top: 0;
      height: 0;

      background-image: linear-gradient(
        to right bottom,
        var(--color-primary),
        var(--color-primary-light)
      );

      opacity: 0.3;
    }
  }
  &__img {
    width: 8rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    transition: var(--transition);
  }

  &__title-box {
    padding: 1.3rem 1rem;
  }

  &__title,
  &__publisher {
    text-transform: uppercase;
  }

  &__title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    text-overflow: ellipsis;
    max-width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--color-primary);
  }

  &__publisher {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-grey-dark-3);
  }
}

.pagination {
  padding: 2rem;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.btn__page {
  padding: 0.5rem 1.5rem;
  background-color: var(--color-grey-light-3);
  border-radius: 50px;
  color: var(--color-primary-light);
  font-weight: 600;
  transition: var(--transition);

  &:hover {
    background-color: var(--color-grey-light-4);
  }

  &-right {
    margin-left: auto;
  }

  &-left {
    margin-right: auto;
  }
}

.center-box {
  height: 80vh;
  display: grid;
  place-items: center;
}

.spinner {
  width: 15rem;
  height: 15rem;
}

.error {
  font-size: 5rem;
  color: #fff;
}
