.container {
  max-width: 150rem;
  margin: 0 auto;
}

.header {
  padding: 0 5rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 37.5em) {
    height: 12rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
}

.main {
  max-width: 150rem;
  margin: 10rem auto;
  padding: 0 5rem;

  @media screen and (max-width: 37.5em) {
    padding: 0 2rem;
  }
}
.container__recipes {
  grid-template-columns: 35rem 1fr;
  background-color: var(--color-grey-light-3);
  border-radius: 5px;
  box-shadow: var(--shadow-dark);
  min-height: 100rem;
}

.grid {
  display: grid;
}

.grid-autofill {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
}
